src/main/app/twitterexample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/2.4/mule-twitter.xsd">
    <twitter:config name="Twitter" consumerKey="&lt;consumer key&gt;" consumerSecret="&lt;consumer Secret&gt;" doc:name="Twitter">
        <twitter:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </twitter:config>
    <flow name="twitterexampleFlow1" doc:name="twitterexampleFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="addtweet" doc:name="HTTP"/>
        <twitter:update-status config-ref="Twitter" status="#[header:INBOUND:mymessage]" accessKey="146394364-gcoH8dsn7D6jP4VcFtOve45h732AgimUF62kAL3p" accessSecret="Bpu4BGvjf95DJxJ63u7CUJRS6CvoL0ZvsTRMsWZenPRA0" doc:name="Twitter"/>
        <expression-transformer expression="payload.toString()" doc:name="Expression"/>
    </flow>
</mule>
